In [1]:
print("Hello World")

Hello World

In [6]:
print("My name is {}" .format('Alperen'))

My name is Alperen

In [8]:
print("My name is {}, My age is {} " .format('Alperen', '21'))   # Numbers are sometimes can be strings or integers! Be carefully!!

My name is Alperen, My age is 21

In [10]:
print('First: {x} , Second: {y}' .format(x = 'Name' ,y = 'Age')) # Values are assigned within parentheses.

First: Name , Second: Age

In [11]:
list_1 = [1 , 'N' , 3, 'Alperen']
print(list_1)

[1, 'N', 3, 'Alperen']

In [12]:
list_1[1]

'N'

In [13]:
list_1[2] = 'SSS'
print(list_1)

[1, 'N', 'SSS', 'Alperen']

In [14]:
list_1.append('AAA')
print(list_1)

[1, 'N', 'SSS', 'Alperen', 'AAA']

In [15]:
list_2 = [1, 2, 3, [10,20,30]]
print(list_2)

[1, 2, 3, [10, 20, 30]]

In [19]:
print(list_2[3])
print(list_2[3][1])

[10, 20, 30]
20

In [24]:
dictionary_1 = {
    'key_1' : 'A',
    'key_2' : 'B',
    'key_3' : 'C'
    }

print(dictionary_1)
print(dictionary_1['key_2'])

{'key_1': 'A', 'key_2': 'B', 'key_3': 'C'}
B

In [27]:
nums = [3,41,12,9,74,15]
print(sum(nums))
print(sum(nums)/len(nums)) # mean

154
25.666666666666668

In [30]:
tuple_1 = (1, 2, 3)
tuple_1[1] 
#Tuples are not immutable!

2

In [34]:
# The las python data structure is "set".
# Sets look like dictionaries but there are some differences between sets and dictionaries. 
# As you can see, there is no key-value pairs and the values written only once.


set_1 = {1, 2, 3, 4, 5}
print(set_1)

set_2 = {1, 2, 3, 4, 5, 5}
print(set_2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [35]:
1 > 2

False

In [36]:
2 < 3

True

In [37]:
1 == 3

False

In [38]:
'a' == '3'

False

In [39]:
'A' == 'a'

False

In [40]:
1 != 3

True

In [42]:
(1 == 1) and ('a' == 'a') #parantheses are recomended.

True

In [43]:
(1 == 2) and (3 == 3)

False

In [44]:
(1 == 1) and ('a' == 'a') and ('b' == 'b')

True

In [48]:
(1 == 1) or ('a' == 'A')

True

In [46]:
if 1==1 :
    print('yea!')

yea!

In [49]:
if 1 == 2 :
    print('yea!')
else:
    print('nope!')

nope!

In [50]:
if 1 == 2 :
    print('yea!')
elif 3 == 3 :
    print('second cond true!')
else:
    print('nope!')

second cond true!

In [51]:
seq = [1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [67]:
seq = [1,2,3,4,5]
seq_2 = []

for item in seq:
    seq_2.append(item**2)
    print(seq_2)

print(seq_2.append)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
<built-in method append of list object at 0x1244732c0>

In [53]:
i = 1 
while i < 5 :
    print('i is {}' .format(i))
    i = i+1

i is 1
i is 2
i is 3
i is 4

In [62]:
x = [1,2,3,4,5]
print(x)
print(range(5))
print(list(range(5)))
print(list(range(2,9)))
print(list(range(2,9,2)))

[1, 2, 3, 4, 5]
range(0, 5)
[0, 1, 2, 3, 4]
[2, 3, 4, 5, 6, 7, 8]
[2, 4, 6, 8]

In [63]:
for x in range(5):
    print(x, 'hi')

0 hi
1 hi
2 hi
3 hi
4 hi

In [71]:
x = [1,2,3,4,5]

out = []

for num in x :
    out.append(num**2)
    
print(out)

[1, 4, 9, 16, 25]

In [73]:
[num**2 for num in x] # Another way.

[1, 4, 9, 16, 25]

In [80]:
def my_func():
    print('Hello')

my_func()

Hello

In [81]:
def func_1(name):
    print('hello' ,name)

func_1('Alperen')

hello Alperen

In [84]:
def func_2(name = 'No Name') :
    print('Hello', name)
    
func_2()

# If there is no parameter for name value!

Hello No Name

In [1]:
# For the documentation of the function. So we can see the description of the func.

def func_2(name = 'No Name') :
    '''
    This prints out the user Name
    '''
    print('Hello', name)

func_2()

Hello No Name

In [89]:
def square(x):
    return x**2

result = square(2)
print(result)
print(type(result)) # because of return command.

4
<class 'int'>

In [91]:
def times_two(var):
    return var*2

times_two(10)

20

In [94]:
 # Some Strings Methods :

st = ('Hello my name is Alperen')

print(st.lower())
print(st.upper())
print(st.split())

hello my name is alperen
HELLO MY NAME IS ALPEREN
['Hello', 'my', 'name', 'is', 'Alperen']

In [98]:
# Some Dictionary Methods:

d = {
    'k1' : 'v1',
    'k2' : 'v2'
     }

print(d.keys())
print(d.items())
print(d.values())

dict_keys(['k1', 'k2'])
dict_items([('k1', 'v1'), ('k2', 'v2')])
dict_values(['v1', 'v2'])

In [100]:
# Some List Methods:

mylist = [1,2,3,4]
last = mylist.pop()
print(mylist)
print(last)

[1, 2, 3]
4

In [101]:
mylist2 = [5,6,7,8,9]

first = mylist2.pop(0)
print(mylist2)
print(first)

[6, 7, 8, 9]
5