In [3]:
# Introduction to Pandas:

# What does Pandas Library do?

# - Cleaning and Organize data
# - Exploratory Data Analysis
# - Opensource 
# - Extremely powerful table (DataFrame) system built off of Numpy
# - Tools for reading and writing data between many formats
# - Intelligently grab data based on indexing, logic, subsetting and more
# - Handle missing data
# - Adjust and restructure data 

# Pandas - Section Overview :

# Series and DataFrames
# Conditional Filtering and Useful Methods
# Missing Data 
# Group By Operations 
# Combining DataFrames
# Text Methods and Time Methods 
# Inputs and Outputs

In [4]:
# Series :

In [7]:
# Pandas Series are based on the labeld index (maybe strings can be). This is the difference between Numpy arrays(Indexing: 0,1,2,3..)
# and the data in Series can be also numeric index!

In [8]:
import numpy as np

In [9]:
import pandas as pd

In [10]:
# with help(pd.Series) can we see the methods.

In [11]:
myindex = ['USA', 'Canada', 'Mexico']
mydata = [1776, 1867, 1821]

In [18]:
myser = pd.Series(data = mydata)

In [19]:
print(myser)

0    1776
1    1867
2    1821
dtype: int64

In [20]:
type(myser)

pandas.core.series.Series

In [21]:
myser = pd.Series(data = mydata, index = myindex)

In [22]:
print(myser)

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [51]:
myser[0] # numeric index.  ".iloc[position]" can be also used!

/var/folders/j4/nj07815j3q9_wz_8g3ghf5r40000gn/T/ipykernel_40841/393088994.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  myser[0] # numeric index.  ".iloc[position]" can be also used!

1776

In [30]:
myser['USA'] # labeled index

1776

In [31]:
# if we write --> myser = pd.Series(mydata, myindex) --> this is the same thing. Siralama olarak zaten ayni calisir, belirtmemize gerek yok.

In [32]:
aa = pd.Series(mydata, myindex)

In [33]:
aa

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [37]:
ages = {'Sam' : 5,
     'Frank' : 10,
     'Spike' : 7 }

In [39]:
pd.Series(ages)  # Dictionaries formatinda verielri kolayca yazdiriyor, kullanisli oluyor.

Sam       5
Frank    10
Spike     7
dtype: int64

In [40]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [41]:
sales_q1 = pd.Series(q1)

In [42]:
sales_q2 = pd.Series(q2)

In [43]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [44]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [48]:
sales_q1[0]

/var/folders/j4/nj07815j3q9_wz_8g3ghf5r40000gn/T/ipykernel_40841/92651501.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sales_q1[0]

80

In [52]:
sales_q1['Japan'] # Our cods are more readable if we use labeled index. 
                  # Python is case sensitive and no extra spaces should be left!

80

In [55]:
sales_q1.keys() # Our index obejcts are in these order, as we see.

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [56]:
[1, 2] * 2

[1, 2, 1, 2]

In [57]:
np.array([1, 2]) * 2 # The List is broadcasted.

array([2, 4])

In [59]:
# Pandas Series are built off Numpy arrays. That's why :

sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [60]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [62]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [64]:
sales_q1 + sales_q2  # Pandas iki seride de olan verileri otomatik olarak toplayacak kadar akillidir ama sadece bir serideki 
                     # anahtar verileri ne yapcagini bilemeyecek kadar salaktir. Bu yüzden sadece Nan yazdirir.

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [69]:
first_half = sales_q1.add(sales_q2, fill_value = 0) # Shift tab ile parantez icerisindeki verilere neler yazilabilecegini ve hangi sira ile 
# yazildigini görebiliriz. fill_value = NaN yerine 0 yapariz ve istedigimiz verileri kendi degerlerinde yazdirabilir.
first_half

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [67]:
sales_q1.dtype

dtype('int64')

In [72]:
first_half.dtype   # data verilerinin tipleri görüldügü gibi degisiyor. Ne istenirse ona göre kullanilabilir.

dtype('float64')

In [73]:
# pd.Series ve shift tab ile hangi sira ile hangi bilgileri yazabildigirmizi görebiliriz.